.DS_Store
week3/day2/Flower Color Images Dataset
week3/day2/Flower Color Images Dataset/
week3/Flower Color Images Dataset.zip
week5machinelearning/day2/creditcard.csv
week6deeplearning/day4_rnn/household_power_consumption.txt
week6deeplearning/day5_mini_project/IMDB Dataset.csv